* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(./assets/images/quizBackground.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quiz game container */
 .container {
    max-width: 80vw;
    background-color: #17f1f9;
    border-radius: 10px;
    padding: 3vh;
    margin-top: 15%;
    box-shadow: inset 6px 6px 13px #174D87, 6px 6px 13px rgb(6, 184, 216);
}

.quiz {
    text-align: center;
    font-size: 8vh;
    color: whitesmoke;
    padding: 3vh 0; 
}

/* instruction */
.instruct {
    padding-bottom: 1vh;
    color: #fff;
    font-weight: 500;
}

/* style for when game finishes */
.question1 {
    font-size: 8vh;
    padding-bottom: 1vh;
    color: whitesmoke;
    text-align: center;
} 

.question {
    font-size: 4vh;
    color: rgb(61,50,28);
    text-align: center;
}

/* quiz question style */
#question {
    font-size: 4vh;
    color: whitesmoke;
    margin-bottom: 2vh;
} 

#answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15%;
    margin-bottom: 3vh;
}

/* styling for the buttons */
.btn {
    padding: 2vh;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgb(6, 184, 216);
    border: none;
    font-size: 15px;
    background-color: rgb(6, 184, 216);
}

.btn:hover {
    box-shadow: 0 2px 0 2px rgb(212, 209, 211);
}

.btn.correct{
    background-color: rgb(73, 211, 73);
    color: white;
}

.btn.correct, .btn.wrong:hover{
    box-shadow: 0 2px 5px 1px rgb(168, 147, 75);
}

.btn.wrong{
    background-color: rgb(250, 45, 45);
    color: white;
}

#start-btn, #finish-btn, #next-btn {
    font-size: 4vh;
    padding: 1vh;
    font-weight: bold;
    box-sizing: border-box;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish, .next {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* hide unwanted elements at a time */
.hide {
    display: none;
}

/* score bar */
p {
    color: white;
}